/* aguafina-script-regular - latin */
@font-face {
  font-family: 'Aguafina Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/aguafina-script-v16-latin-regular.woff2') format('woff2'),
       url('../fonts/aguafina-script-v16-latin-regular.woff') format('woff');
}